body {
    background-color: #009CD7;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
  }
.button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 24px;
    background: rgb(6, 42, 70);
    padding: 10px 15px 10px 15px;
    width: 150px;
    height: 50px;
  }
.button:hover {
    background-color: rgb(0, 65, 116);
}

.login {
    margin-left: 50%;
}
.large-font {
    font-size: 36px;
}
.medium-font {
    font-size: 28px;
}
