/*
	COLORS:
	#009CD7 ---> light blue
	#ED1C24 ---> Red
	#0066B3 ---> Dark Blue
	#9A989A ---> Grey
	#333333 ---> Almost Black (easier to read)
*/
body {
    background-color: #009CD7;
    color: white;
    font-weight: bold;
    font-family: Arial;
}

main {
    margin: auto;
    padding: 10px;
    width: 90%;
    text-align: center;
}

/*** LOGIN ***/
input[type=text], [type=password] {
    color: #000000;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    color: #9A989A;
    text-align: center;
    font-size: 20px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    background-color: #009CD7;
    border: 4px solid #ED1C24;
    font-weight: bold;
}

.button-fade:hover {
    background-color: #ED1C24;
    color: white;
}

/*** HEADER ***/
header {
    overflow: hidden;
    padding: 20px 5px;
}

.header-left {
    width: 33.33%;
    float: left;
}

.header-center {
    float: left;
    width: 33.33%;
}

.header-right {
    float: left;
    width: 33.33%;
}

nav li {
    display: inline;
}

/*** CHECK IN PAGE ***/
select {
    font-size: 20px;
    width: 70%;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ED1C24;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 750px) {
    .header-left {
        width: 100%;
    }

    .header-center {
        float: none;
        width: 100%;
    }

    .header-right {
        float: none;
        width: 100%;
    }
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #333333;
    padding: 2px 0px;
}

th {
    background-color: #9A989A;
    color: white;
    padding: 20px;
}

#timeStampTable td {
    padding: 10px;
}

#timeStampTable tr:nth-child(odd) {
    background-color: #0066B3;
    color: white;
}

#timeStampTable tr:nth-child(even) {
    background-color: #FFFFFF;
    color: #333333;
}

.logo {
    height: 75px;
    width: 287px;
}

#login {
    margin-top: 10px;
}
