body {
	background-color: white;
	color: #333333;
}
.checkImg {
	height:50px;
}
#displayTable {
	border-collapse:collapse;
	width: 90%;
}
tr:nth-child(even) {
    background-color: #0066B3;
	color: white;
}
.button {
	background-color: white;
	color: #333333;
}
