/*
	COLORS:
	#009CD7 ---> light blue
	#ED1C24 ---> Red
	#0066B3 ---> Dark Blue
	#9A989A ---> Grey
	#333333 ---> Almost Black (easier to read)
*/
body {
    background-color: white;
    color: #333333;
}

.checkImg {
    height: 50px;
}

tr:nth-child(even) {
    background-color: #0066B3;
    color: white;
}

.button {
    background-color: white;
    color: #333333;
}

#displayTable tbody {
    display: block;
    max-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
}

#displayTable thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
