body {
    background: transparent url(../gradient.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial, sans-serif;
  }
  .header{
    width:95%;
    margin: 0 auto;
  }
  .header-content{
    padding: 0 0 0 2em;
  }
  .header-title{
    float: left;
    width: 70%;
    margin-top: -0.6em;
  }
  .header-right{
    text-align: right;
    margin-right: 3em;
  }
  .main {
    width:80%;
    margin: 0 auto;
    /*padding:0 20px 0 30px;*/
  }

  .remove-teams, .teams {
    width: 30%;
  }

  .add-team, .info {
    width: 65%;
  }
  
  /* Style the tab */
  .tab {
      overflow: hidden;
      border: 1px solid #CCC;
      background-color: rgb(6, 42, 70);
  }
  
  /* Style the buttons inside the tab */
  .tab button {
      background-color: inherit;
      float: left;
      border: 1px solid #CCC;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      color: #CCC;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
      background-color: #6CA7D4;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
      background-color: #CCC;
      color: rgb(6, 42, 70);
  }

  .tab button {
    width: 33.3333333333333%;
  }
  
  /* Style the tab content */
  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 2px solid #CCC;
      border-top: none;
      flex-direction: row;
      background-color: #CCC;
      margin-bottom: 2em;
  }
  
  #header{
    border-radius: 25px;
    background: #CCC;
    color: rgb(6, 42, 70);
    padding: 20px;
    margin-bottom: 2em;
  }
  
  .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Arial;
    color: #CCC;
    font-size: 12px;
    
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin-top: 0.4em;
  }

  .select {
    background: rgb(6, 42, 70);
  }

  .delete {
    background: rgb(187, 0, 0);
  }
  
  .select:hover {
    background: #313C74;
  }

  .delete:hover {
    background: rgb(255, 28, 28);
  }
  
  select {
    background-color:  rgb(6, 42, 70);
    color: #CCC;
    height: 33px;
    width: 180px;
    text-align: center;
  }
  
  .centerAlign {
    align-content: center;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .save {
    margin-left: 75px;
    width: 150px;
  }

  .pad-top {
    padding-top: 25px;
  }

  input[type="file"] {
    display: none;
  }