body {
    background: transparent url(../gradient.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial, sans-serif;
  }
  .header{
    width:95%;
    margin: 0 auto;
  }
  .header-content{
    padding: 0 0 0 2em;
  }
  .header-title{
    float: left;
    width: 70%;
    margin-top: -0.6em;
  }
  .header-right{
    text-align: right;
    margin-right: 3em;
  }

  #header{
    border-radius: 25px;
    background: #CCC;
    color: rgb(6, 42, 70);
    padding: 20px;
    margin-bottom: 2em;
  }

  .button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Arial;
    color: #CCC;
    font-size: 12px;
    
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin-top: 0.4em;
  }
  
  .select {
      background: rgb(6, 42, 70);
  }
  
  .select:hover {
      background: #313C74;
  }
  
  .save {
      width: 100px;
  }

  table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

th {
  background-color: #CCC;
  color: rgb(6, 42, 70);
}

tr:nth-child(odd) {
    background-color: rgb(6, 42, 70);
    color: #CCC;
}

tr:nth-child(even) {
    background-color: #CCC;
    color: rgb(6, 42, 70);;
}

td button {
    vertical-align: middle;
    display: inline-block;
}

caption{
  font-size: large;
  font-weight: bold;
  margin: 1em 0 0.6em 0;
}

.tableBodyScroll tbody {
  display: block;
  max-height: 575px;
  overflow-y: scroll;
}

.tableBodyScroll thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: center;
}